S3method(as.data.frame,records)
S3method(fetch,lpsn_access)
S3method(print,dsmz_keycloak)
S3method(print,lpsn_result)
S3method(print,records)
S3method(records,list)
S3method(refresh,dsmz_keycloak)
S3method(request,lpsn_access)
S3method(retrieve,lpsn_access)
S3method(summary,dsmz_keycloak)
S3method(summary,lpsn_result)
S3method(summary,records)
S3method(upgrade,lpsn_access)
export(fetch)
export(open_lpsn)
export(records)
export(refresh)
export(request)
export(retrieve)
importFrom(curl,curl_escape)
importFrom(httr,GET)
importFrom(httr,POST)
importFrom(httr,add_headers)
importFrom(httr,content)
importFrom(httr,status_code)
importFrom(jsonlite,toJSON)
importFrom(utils,type.convert)
importFrom(utils,upgrade)
