"Setup Time"	"Position"	"File"	"Instrument"
"2010-08-30 11:28:54"	"21-B"	"external_tests/tests/Example_Johannes_1.csv"	5
"2010-08-30 12:31:46"	"15-A"	"external_tests/tests/Example_Johannes_2.csv"	5
"2010-08-30 13:53:08"	"09-A"	"external_tests/tests/Example_Johannes_3.csv"	5
"2012-08-22 12:18:00"	"01-?"	"external_tests/tests/Example_Microstation_ECO.csv"	5
"2012-08-22 12:20:00"	"01-?"	"external_tests/tests/Example_Microstation_ECO.csv"	5
"2012-08-22 12:21:00"	"04-?"	"external_tests/tests/Example_Microstation_ECO.csv"	5
"2012-08-22 12:22:00"	"04-?"	"external_tests/tests/Example_Microstation_ECO.csv"	5
"2012-08-22 12:23:00"	"05-?"	"external_tests/tests/Example_Microstation_ECO.csv"	5
"2012-08-22 12:25:00"	"05-?"	"external_tests/tests/Example_Microstation_ECO.csv"	5
"2009-02-05 14:24:00"	"01-?"	"external_tests/tests/Example_Microstation_GN2.csv"	5
"2010-09-27 17:44:04"	"21-A"	"external_tests/tests/Example_Multiline_Johannes_1.csv"	5
"2010-09-27 17:44:04"	"21-B"	"external_tests/tests/Example_Multiline_Johannes_2.csv"	5
"2010-09-27 17:44:04"	"20-A"	"external_tests/tests/Example_Multiline_Johannes_3.csv"	5
"2010-09-27 17:44:04"	"20-B"	"external_tests/tests/Example_Multiline_Johannes_4.csv"	5
"2011-07-27 13:55:26"	"22-A"	"external_tests/tests/Example_Old_Style_Anne_1.csv"	5
"2011-04-11 17:08:00"	"12-A"	"external_tests/tests/Example_Old_Style_Nora_1.csv"	5
"2011-04-11 17:08:00"	"16-B"	"external_tests/tests/Example_Old_Style_Nora_2.csv"	5
"2011-04-11 17:08:05"	"08-B"	"external_tests/tests/Example_Old_Style_Nora_3.csv"	5
"2015-09-05 10:45:57"	"24-A"	"external_tests/tests/Multiplate_New_Style.csv"	5
"2015-09-05 10:45:57"	"21-B"	"external_tests/tests/Multiplate_New_Style.csv"	5
"2015-09-05 10:45:57"	"23-B"	"external_tests/tests/Multiplate_New_Style.csv"	5
"2015-09-05 10:45:57"	"24-B"	"external_tests/tests/Multiplate_New_Style.csv"	5
"2015-09-05 10:45:57"	"20-A"	"external_tests/tests/Multiplate_New_Style.csv"	5
"2015-09-05 10:45:57"	"22-A"	"external_tests/tests/Multiplate_New_Style.csv"	5
"2015-09-05 10:45:57"	"23-A"	"external_tests/tests/Multiplate_New_Style.csv"	5
"2015-09-05 10:45:57"	"20-B"	"external_tests/tests/Multiplate_New_Style.csv"	5
"2015-09-05 10:45:57"	"22-B"	"external_tests/tests/Multiplate_New_Style.csv"	5
"2015-09-05 10:45:57"	"21-A"	"external_tests/tests/Multiplate_New_Style.csv"	5
"2010-07-06 13:30:00"	"01-A"	"external_tests/tests/Multiplate_Old_Style.csv"	5
"2010-07-06 13:30:00"	"01-B"	"external_tests/tests/Multiplate_Old_Style.csv"	5
"2010-07-06 13:30:00"	"02-A"	"external_tests/tests/Multiplate_Old_Style.csv"	5
"2010-07-06 13:30:00"	"02-B"	"external_tests/tests/Multiplate_Old_Style.csv"	5
"2010-07-06 13:30:00"	"03-A"	"external_tests/tests/Multiplate_Old_Style.csv"	5
"2010-07-06 13:30:00"	"03-B"	"external_tests/tests/Multiplate_Old_Style.csv"	5
"2010-07-06 13:30:00"	"04-A"	"external_tests/tests/Multiplate_Old_Style.csv"	5
"2010-07-06 13:30:00"	"04-B"	"external_tests/tests/Multiplate_Old_Style.csv"	5
"2010-07-06 13:30:00"	"05-A"	"external_tests/tests/Multiplate_Old_Style.csv"	5
"2010-07-06 13:30:00"	"05-B"	"external_tests/tests/Multiplate_Old_Style.csv"	5
"2010-07-06 13:30:00"	"06-A"	"external_tests/tests/Multiplate_Old_Style.csv"	5
"2010-07-06 13:30:00"	"06-B"	"external_tests/tests/Multiplate_Old_Style.csv"	5
"2010-07-06 13:30:00"	"07-A"	"external_tests/tests/Multiplate_Old_Style.csv"	5
"2010-07-06 13:30:00"	"07-B"	"external_tests/tests/Multiplate_Old_Style.csv"	5
"2010-07-06 13:30:00"	"08-A"	"external_tests/tests/Multiplate_Old_Style.csv"	5
"2010-07-06 13:30:00"	"08-B"	"external_tests/tests/Multiplate_Old_Style.csv"	5
"2010-07-06 13:30:00"	"09-A"	"external_tests/tests/Multiplate_Old_Style.csv"	5
"2010-07-06 13:30:00"	"09-B"	"external_tests/tests/Multiplate_Old_Style.csv"	5
"2010-07-06 13:30:00"	"10-A"	"external_tests/tests/Multiplate_Old_Style.csv"	5
"2010-07-06 13:30:00"	"10-B"	"external_tests/tests/Multiplate_Old_Style.csv"	5
"2010-09-28 10:40:22"	"04-A"	"external_tests/tests/Nora_Roseobacter_1.csv"	5
