S3method(advanced_search,lpsn_access)
S3method(fetch,lpsn_access)
S3method(flexible_search,lpsn_access)
S3method(print,dsmz_keycloak)
S3method(print,lpsn_result)
S3method(refresh,dsmz_keycloak)
S3method(summary,dsmz_keycloak)
S3method(summary,lpsn_result)
export(advanced_search)
export(fetch)
export(flexible_search)
export(open_lpsn)
export(refresh)
importFrom(RCurl,curlEscape)
importFrom(RCurl,getURLContent)
importFrom(RCurl,postForm)
importFrom(jsonlite,fromJSON)
importFrom(jsonlite,toJSON)
